
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}



mark {
    background-color: #FAF594;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    margin: 1rem 0;
}

tiptap {
    margin: 1rem 0;
    outline: none;
}


blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
}

hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
}